@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Fraunces", serif;
}
html {
  scroll-behavior: smooth;
}
.starter {
  display: flex;
  flex-direction: column;
  gap: 88px;
  background-image: url("./Images/image-header.jpg");
  padding: 32px 24px 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.starter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}
.starter-section img {
  width: 29.44px;
  height: 107.484px;
}
header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
nav {
  position: fixed;

  top: 106px;
  width: -webkit-fill-available;
  padding-right: 24px;
  z-index: 2;
}
nav ul {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 32px;
  padding: 39px 0;
}
nav ul li {
  display: flex;
}
nav ul li:last-child {
  width: 140px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  background: #fbd600;
}
nav::after {
  content: "";
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-right: 24px solid white;
  position: absolute;
  right: 24px;
  top: -24px;
}
nav ul li:last-child a {
  color: #24303e;
  font-family: "Fraunces 9pt Soft" sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.107px;
}
nav ul li a {
  text-decoration: none;
  color: #808397;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.143px;
  font-family: "Barlow", sans-serif;
  gap: 32px;
}
.navigationActive {
  display: none;
}
h1 {
  color: #fff;
  font-family: "Fraunces", serif;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 6.25px;
  text-transform: uppercase;
}

.transform h2 {
  color: #24303e;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -0.229px;
  margin-top: 64px;
}

.main-section {
  display: grid;
  grid-template-columns: 100%;
}

.transform {
  background-image: url("./Images/image-transform.jpg");
}
.cup {
  background-image: url("./Images/image-stand-out.jpg");
}
.main-photos {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 42%;
}
.main-section-content {
  padding: 64px 24px;
  text-align: center;
  font-family: "Fraunces", serif;
}
.content-title {
  text-align: center;
  color: #24303e;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -0.229px;
}
.content-para {
  margin-top: 24px;
  font-family: "Barlow", sans-serif;
  color: #808397;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.129px;
}
.learn {
  display: inline-block;
  margin-top: 32px;
  color: #24303e;
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
}
.learn::before {
  content: "";
  width: 137px;
  height: 10px;
  border-radius: 28px;
  opacity: 0.25;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.yellow::before {
  background: #fad400;
  left: -8px;
}

.pink::before {
  background-color: #fe7766;
  left: -8px;
}
.yellow:hover::before {
  background: #fad400;
  opacity: 2;
}
.pink:hover::before {
  background: #ff4081;
  opacity: 2;
}

.middle-photos {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  padding: 90.17% 24px 59px 24px;
  object-fit: cover;
  object-position: bottom;
}
.cherry {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-image: url("./Images/image-graphic-design.jpg");
}
.middle-section .content-title {
  color: #24554a;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -0.2px;
}
.middle-section .content-para {
  color: #24554a;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.114px;
}
.cherry h2 {
  color: #24554a;
}

.mandarin {
  background-image: url("./Images/image-photography.jpg");
}
.mandarin h2 {
  color: #052c3b;
}
.mandarin p {
  color: #19536c;
}

.client-title {
  color: #a7aaad;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 4px;
}
.client-testimonials {
  margin-top: 64px;
  padding: 0 24px;
}
.client-content {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 64px;
  align-items: center;
}
.client-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.client-photos {
  border-radius: 72px;
  width: 72px;
}
.client-par {
  color: #5b636d;
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.129px;
}
.name {
  color: #24303e;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.129px;
}
.profession {
  color: #a7aaad;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.1px;
  margin-top: -23px;
}
.ending-photos {
  display: flex;
  margin-top: 86px;
  flex-wrap: wrap;
}
.ending-photos picture {
  width: 50%;
}
.ending-photos picture img {
  height: 100%;
  width: 100%;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background: #90d4c6;
  padding: 64px 39px 80px;
}

.about {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 57px;
}
.about a {
  color: #458d7e;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.129px;
  margin-top: 40px;
  text-decoration: none;
}
.about a:hover {
  color: white;
}

.social-medias {
  display: flex;
  margin-top: 88px;
  gap: 24px;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .upper-mainSection {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}
